body{
    margin-top:70px !important;
    font-size:16px;
}
.navbar-default{
    background: #fff !important;
    border:none !important;
}
.navbar-brand{
    font-size: 20px;
    color:#000;
    font-weight: bold;
}
img{
    width:100%;
}
#showcase h1{
    font-size:50px;
    margin-bottom: 20px;
}
.showcase-right{
    margin-top:90px;
}
.text{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
.text p{
    font-size:22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#000;
}
.customer{
    font-size:20px;
    color:#666;
}
.info1{
    margin-top: 40px;
}
.info1 .info-right{
    margin-top:90px;
}
.info1 h2{
    font-size:50px;
    margin-bottom: 20px;
}
.info2{
    margin:20px 0 60px 0;
}
#contact{
    background-image: url(../img/image3.jpg);
    padding:40px;
    color:#fff;
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
}
footer{
    padding:30px;
}
