*{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

.showcase{
    background-image: url(../img/showcase.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.showcase h1{
    font-size: 50px;
    line-height: 1,2;
}
.showcase p{
    font-size: 20px;
}
.showcase a{
    font-size: 20px;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 10px;
    padding:10px 20px;
}
.showcase a:hover{
    background: #926239;
    color:#fff;
}

.section-a{
    padding:20px;
    background-color: #926239;
    color:white;
    text-align: center;
}
.section-b{
    padding:20px;
    background-color:#f4f4f4;
    
    text-align: center;
}

.section-c{
    display: flex;

}
.section-c .box-1,.section-c .box-3{
    padding:20px;
    background-color: #926239;
    color:white;
    text-align: center;
}
.section-c .box-2{
    padding: 20px;
}