body {
  font: 15px/1.5 Arial, Helvatica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  
}



header ul {
  margin: 0;
  padding:0;
}
header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}
header .nav{
  float:right;
  margin-top:10px;
}
header .highlight, header .current a{
  color:#e8491d;
  font-weight: bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


#showcase{
  min-height:400px;
  background:url(../HD-Wallpapers-C76.jpg) no-repeat 0 -250px;
  text-align:center;
  color:#ffffff;
}
#showcase h1{
  margin-top:0;
  font-size:55px;
  margin-bottom:10px;
  padding-top:100px;

}
#showcase p{
  font-size:20px;
}
#newsletter {
  padding:15px;
  color:#ffffff;
  background: #35424a;
  margin-top:-20px;
}
#Newsletter h1{
  float:left;
}
#newsletter form{
  float:right;
  margin-top:-50px;
}
#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border:none;
  color:#ffffff;
  padding-left: 20px;
  padding-right:20px;
}
#boxes{
  margin-top:20px;
}
#boxes .box{
  float:left;
  width:30%;
  padding:10px;
  text-align: center;

}
img{
  width:90px;

}
